<html>
    <head>
        <title>simple weather widget</title>
        <link rel="stylesheet" href="/w2/style.css"/>
    </head>
    <body>
    <div class="container">
        <h3>{{city.name}}</h3>
        <div id="weather">
        {{#list}}
            <div class="text-left" style="margin: 0 2px">
                <p class="date">{{date}}</p>
                <p class="temp_main">{{temp.day}} &#x2103;</p>
                <p class="text">
                    {{weather.description}}
                </p>
            </div>
        {{/list}}
            <div style="clear: both"></div>
        </div>
        <p class="muted">powered by <br />
            <a href="http://openweathermap.org/">openweathermap.org</a>
        </p>
    </div>
    </body>
</html>